## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from keras.callbacks import Callback

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(columns=['EIN','NAME'],axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
application_df['IS_SUCCESSFUL'].value_counts()

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [5]:
app_type=application_df['APPLICATION_TYPE'].value_counts()
app_type

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=[x for x in app_type.keys() if (app_type[x]<200)]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
class_type=application_df['CLASSIFICATION'].value_counts()
class_type

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_type[class_type>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=[x for x in class_type.keys() if (class_type[x]<1000)]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [11]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(application_cat)
encode_df.head()

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

<ipython-input-12-fae914666e78>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(application_cat,1)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Split our preprocessed data into our features and target arrays
X=application_df.drop(columns='IS_SUCCESSFUL',axis=1)
X

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Split our preprocessed data into our features and target arrays
y=application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)



---

---

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_dim=X.shape[1]

nn_model = tf.keras.models.Sequential()
dense = tf.keras.layers.Dense(input_dim=input_dim, units=80, activation="relu")
nn_model.add(dense)

# First hidden layer
dense_1 = tf.keras.layers.Dense(units=30, activation="relu")
nn_model.add(dense_1)

# Output layer
output_layer = tf.keras.layers.Dense(units=1, activation="sigmoid")
nn_model.add(output_layer)

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
model_callback = tf.keras.callbacks.ModelCheckpoint('weights{epoch:02d}.h5', 
                                     save_weights_only=True, save_freq=5)

In [19]:
fit_model = nn_model.fit(X_train_scaled, y_train,batch_size=20, epochs=100, callbacks=[model_callback])

Epoch 1/100
1287/1287 [==============================] - 11s 5ms/step - loss: 0.5716 - accuracy: 0.7202
Epoch 2/100
1287/1287 [==============================] - 7s 5ms/step - loss: 0.5552 - accuracy: 0.7271
Epoch 3/100
1287/1287 [==============================] - 6s 4ms/step - loss: 0.5519 - accuracy: 0.7309
Epoch 4/100
1287/1287 [==============================] - 7s 5ms/step - loss: 0.5501 - accuracy: 0.7320
Epoch 5/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5488 - accuracy: 0.7322
Epoch 6/100
1287/1287 [==============================] - 6s 4ms/step - loss: 0.5487 - accuracy: 0.7328
Epoch 7/100
1287/1287 [==============================] - 7s 5ms/step - loss: 0.5474 - accuracy: 0.7326
Epoch 8/100
1287/1287 [==============================] - 6s 4ms/step - loss: 0.5463 - accuracy: 0.7342
Epoch 9/100
1287/1287 [==============================] - 7s 5ms/step - loss: 0.5460 - accuracy: 0.7343
Epoch 10/100
1287/1287 [==============================] - 6s 4ms/step - loss: 0.5456 - accuracy: 0.7345
Epoch 11/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5451 - accuracy: 0.7345
Epoch 12/100
1287/1287 [==============================] - 7s 5ms/step - loss: 0.5449 - accuracy: 0.7345
Epoch 13/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5443 - accuracy: 0.7348
Epoch 14/100
1287/1287 [==============================] - 7s 6ms/step - loss: 0.5439 - accuracy: 0.7348
Epoch 15/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5440 - accuracy: 0.7355
Epoch 16/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5431 - accuracy: 0.7354
Epoch 17/100
1287/1287 [==============================] - 9s 7ms/step - loss: 0.5434 - accuracy: 0.7352
Epoch 18/100
1287/1287 [==============================] - 7s 5ms/step - loss: 0.5431 - accuracy: 0.7371
Epoch 19/100
1287/1287 [==============================] - 6s 4ms/step - loss: 0.5427 - accuracy: 0.7370
Epoch 20/100
1287/1287 [==============================] - 6s 4ms/step - loss: 0.5427 - accuracy: 0.7365
Epoch 21/100
1287/1287 [==============================] - 8s 6ms/step - loss: 0.5426 - accuracy: 0.7361
Epoch 22/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5417 - accuracy: 0.7374
Epoch 23/100
1287/1287 [==============================] - 7s 5ms/step - loss: 0.5423 - accuracy: 0.7366
Epoch 24/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5421 - accuracy: 0.7371
Epoch 25/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5412 - accuracy: 0.7364
Epoch 26/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5413 - accuracy: 0.7384
Epoch 27/100
1287/1287 [==============================] - 6s 4ms/step - loss: 0.5412 - accuracy: 0.7374
Epoch 28/100
1287/1287 [==============================] - 8s 6ms/step - loss: 0.5410 - accuracy: 0.7374
Epoch 29/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5406 - accuracy: 0.7368
Epoch 30/100
1287/1287 [==============================] - 8s 6ms/step - loss: 0.5408 - accuracy: 0.7371
Epoch 31/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5408 - accuracy: 0.7368
Epoch 32/100
1287/1287 [==============================] - 7s 6ms/step - loss: 0.5402 - accuracy: 0.7374
Epoch 33/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5400 - accuracy: 0.7374
Epoch 34/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5401 - accuracy: 0.7388
Epoch 35/100
1287/1287 [==============================] - 7s 5ms/step - loss: 0.5397 - accuracy: 0.7381
Epoch 36/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5395 - accuracy: 0.7372
Epoch 37/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5397 - accuracy: 0.7381
Epoch 38/100
1287/1287 [==============================] - 6s 4ms/step - loss: 0.5392 - accuracy: 0.7392
Epoch 39/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5390 - accuracy: 0.7387
Epoch 40/100
1287/1287 [==============================] - 7s 5ms/step - loss: 0.5394 - accuracy: 0.7384
Epoch 41/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5386 - accuracy: 0.7393
Epoch 42/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5386 - accuracy: 0.7381
Epoch 43/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5385 - accuracy: 0.7393
Epoch 44/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5385 - accuracy: 0.7389
Epoch 45/100
1287/1287 [==============================] - 7s 5ms/step - loss: 0.5390 - accuracy: 0.7383
Epoch 46/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5379 - accuracy: 0.7386
Epoch 47/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5378 - accuracy: 0.7385
Epoch 48/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5384 - accuracy: 0.7391
Epoch 49/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5382 - accuracy: 0.7386
Epoch 50/100
1287/1287 [==============================] - 6s 4ms/step - loss: 0.5381 - accuracy: 0.7384
Epoch 51/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5381 - accuracy: 0.7395
Epoch 52/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5379 - accuracy: 0.7389
Epoch 53/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5373 - accuracy: 0.7389
Epoch 54/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5375 - accuracy: 0.7395
Epoch 55/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5377 - accuracy: 0.7398
Epoch 56/100
1287/1287 [==============================] - 7s 5ms/step - loss: 0.5370 - accuracy: 0.7390
Epoch 57/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5366 - accuracy: 0.7389
Epoch 58/100
1287/1287 [==============================] - 6s 4ms/step - loss: 0.5371 - accuracy: 0.7395
Epoch 59/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5372 - accuracy: 0.7389
Epoch 60/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5366 - accuracy: 0.7402
Epoch 61/100
1287/1287 [==============================] - 7s 5ms/step - loss: 0.5369 - accuracy: 0.7394
Epoch 62/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5364 - accuracy: 0.7393
Epoch 63/100
1287/1287 [==============================] - 6s 4ms/step - loss: 0.5369 - accuracy: 0.7393
Epoch 64/100
1287/1287 [==============================] - 7s 5ms/step - loss: 0.5364 - accuracy: 0.7399
Epoch 65/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5370 - accuracy: 0.7396
Epoch 66/100
1287/1287 [==============================] - 8s 6ms/step - loss: 0.5367 - accuracy: 0.7401
Epoch 67/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5364 - accuracy: 0.7388
Epoch 68/100
1287/1287 [==============================] - 7s 6ms/step - loss: 0.5362 - accuracy: 0.7393
Epoch 69/100
1287/1287 [==============================] - 6s 4ms/step - loss: 0.5369 - accuracy: 0.7392
Epoch 70/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5364 - accuracy: 0.7393
Epoch 71/100
1287/1287 [==============================] - 7s 5ms/step - loss: 0.5361 - accuracy: 0.7394
Epoch 72/100
1287/1287 [==============================] - 6s 4ms/step - loss: 0.5359 - accuracy: 0.7399
Epoch 73/100
1287/1287 [==============================] - 8s 6ms/step - loss: 0.5360 - accuracy: 0.7395
Epoch 74/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 75/100
1287/1287 [==============================] - 7s 6ms/step - loss: 0.5355 - accuracy: 0.7394
Epoch 76/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5358 - accuracy: 0.7399
Epoch 77/100
1287/1287 [==============================] - 7s 6ms/step - loss: 0.5360 - accuracy: 0.7393
Epoch 78/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 79/100
1287/1287 [==============================] - 7s 5ms/step - loss: 0.5362 - accuracy: 0.7394
Epoch 80/100
1287/1287 [==============================] - 7s 5ms/step - loss: 0.5357 - accuracy: 0.7401
Epoch 81/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5360 - accuracy: 0.7397
Epoch 82/100
1287/1287 [==============================] - 7s 6ms/step - loss: 0.5356 - accuracy: 0.7391
Epoch 83/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5357 - accuracy: 0.7401
Epoch 84/100
1287/1287 [==============================] - 7s 6ms/step - loss: 0.5355 - accuracy: 0.7399
Epoch 85/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5353 - accuracy: 0.7405
Epoch 86/100
1287/1287 [==============================] - 7s 6ms/step - loss: 0.5359 - accuracy: 0.7412
Epoch 87/100
1287/1287 [==============================] - 6s 4ms/step - loss: 0.5352 - accuracy: 0.7402
Epoch 88/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5357 - accuracy: 0.7401
Epoch 89/100
1287/1287 [==============================] - 7s 5ms/step - loss: 0.5351 - accuracy: 0.7406
Epoch 90/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5355 - accuracy: 0.7395
Epoch 91/100
1287/1287 [==============================] - 7s 5ms/step - loss: 0.5364 - accuracy: 0.7402
Epoch 92/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5360 - accuracy: 0.7391
Epoch 93/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5353 - accuracy: 0.7409
Epoch 94/100
1287/1287 [==============================] - 7s 6ms/step - loss: 0.5351 - accuracy: 0.7403
Epoch 95/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5351 - accuracy: 0.7392
Epoch 96/100
1287/1287 [==============================] - 7s 6ms/step - loss: 0.5351 - accuracy: 0.7406
Epoch 97/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5348 - accuracy: 0.7398
Epoch 98/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5352 - accuracy: 0.7401
Epoch 99/100
1287/1287 [==============================] - 6s 5ms/step - loss: 0.5349 - accuracy: 0.7400
Epoch 100/100
1287/1287 [==============================] - 5s 4ms/step - loss: 0.5353 - accuracy: 0.7407

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5596 - accuracy: 0.7289 - 683ms/epoch - 3ms/step
Loss: 0.5596094131469727, Accuracy: 0.728863000869751



---



---



---

In [21]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity.h5")